@use 'sass:map';
@use 'color';

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('assets/fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Concept-Bold';
    font-weight: 400;
    src: url('assets/fonts/Concept-Bold/Concept-Bold.ttf');
}

$font_name_title:'Concept-Bold';
$font_name_paragraph:'Inter'; 

$list_fonts:(
    ("name":"p",
    "font-family":$font_name_paragraph,
    "font-size":1rem,
    "font-weight":normal,
    "color":color.$color_font_dark)

    ("name":"address",
    "font-family":$font_name_paragraph,
    "font-size":1rem,
    "font-weight":normal,
    "color":color.$color_font_dark)

    ("name":"a",
    "font-family":$font_name_paragraph,
    "font-size":1rem,
    "font-weight":normal,
    "color":color.$color_font_dark)

    ("name":"label",
    "font-family":$font_name_paragraph,
    "font-size":1rem,
    "font-weight":500,
    "color":color.$color_font_dark)

    ("name":".description",
    "font-family":$font_name_paragraph,
    "font-size":0.75rem,
    "font-weight":normal,
    "color":color.$color_main)

    ("name":"h4",
    "font-family":$font_name_paragraph,
    "font-size":1.25rem,
    "font-weight":normal,
    "color":color.$color_button)

    ("name":"h3",
    "font-family":$font_name_paragraph,
    "font-size":1.5rem,
    "font-weight":normal,
    "color":color.$color_button)

    ("name":"h2",
    "font-family":$font_name_title,
    "font-size":2rem,
    "font-weight":normal,
    "color":color.$color_font_secondary)
    
    ("name":"h1",
    "font-family":$font_name_paragraph,
    "font-size":2.5rem,
    "font-weight":400,
    "color":color.$color_button)
);

@each $object in $list_fonts { //génère automatiquement les attributs css pour les formats de texte
    #{map.get($object,"name")}{
        font-family: map.get($object,"font-family");
        font-size: map.get($object,"font-size");
        font-weight: map.get($object,"font-weight");
        color: map.get($object,"color");       
    }
}