@use 'color';
@use 'font';

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
  }

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

  .menu-btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;
  
    &__burger {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background: color.$color_font_dark;
      @include transition-ease;
  
      &::before {
        content: '';
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: color.$color_font_dark;
        @include transition-ease;
      }
  
      &::after {
        content: '';
        position: absolute;
        top: 8px;
        width: 20px;
        height: 3px;
        background: color.$color_font_dark;
        @include transition-ease;
      }
  
      &.open {
        transform: rotate(720deg);
        background: transparent;
  
        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }
  
        &::after {
          width: 28px;
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }
  
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 96vw;
    opacity: 0.98;
    visibility: hidden;
  
    &.open {
      visibility: visible;
    }
  
    .menu-nav {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      height: 100vh;
      overflow: hidden;
      background: rgba(156, 146, 172, 0.95);

      list-style-type: none;
      padding-right: 1rem;
      transform: translateY(-100%);
      @include transition-ease;
  
      &.open {
        transform: translateY(0);
      }
  
      &__item {
        transform: translateX(100vw);
        font-size: 1em;
        font-weight: 300;
        font-family: font.$font_name_paragraph;
        @include transition-ease;
  
        &.open {
         transform: translateX(0); 
        }
      }
  
      &__link {
        display: inline-block;
        font-family: font.$font_name_paragraph;
        font-size: 1em;
        text-decoration: none;
        color: color.$color_button;
        padding: 2rem 0;
        font-weight: 400;
        @include transition-ease;
  
        &:hover {
          color: color.$color_main;
        }
      }
    }
  }
  
  @for $i from 1 through 4 {
    .menu-nav__item:nth-child(#{$i}) {
      transition-delay: ($i * 0.1s) + 0.1s;
    }
  }
  
  @include media-md {
    .menu-btn {
      visibility: hidden;
    }
  
    .nav {
      visibility: visible;
  
      .menu-nav {
        display: block;
        transform: translateY(0);
        height: 100%;
        background: transparent;
        text-align: right;
  
        &__item {
          display: inline;
          padding-right: 1.5rem;
        }
  
        &__link {
          font-size: 1.5rem;
        }
      }
    }
}