@use 'font';
@use 'color';
@use 'button';

@mixin images($size, $circle: false) {
    width: $size;
    height: $size;
    @if $circle {
    border-radius: $size / 2;
    }
    @else {
    border-radius: 0px;
    }
}

body {
    margin:0%;
}

header {
    padding: 2% 3% 2% 3%;
    background-color: color.$color_secondary;
}


.bar {
    margin : 40px 0px 40px 0px;
    height: 5px;
    width: 70%;
    background-color: color.$color_secondary;
  }

#presentation {
    padding:  0% 3% 0% 3%;
    
    p {
        margin-bottom: -20px;
    }
}

#section_formation {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

#formation {
    padding-left:3%;
}

#list_projects {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#list_langages {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

#notre_equipe {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 75px;
}

.equipier {
    display:flex;
    flex-direction: column;
    width: 250px;
    border: 4px color.$color_secondary solid;
    margin-bottom: 75px;
    border-radius: 15px;

    p {
        font-size: 0.75em;
    }

    img {
        @include images(10em, true);
        align-self: center;
        margin-top: -20%;
    }
}

.equipier_content {
    padding:5%;
}

.description_service {
    padding : 20px 0px 20px 0px;
}

.title_service {
    display: inline-block;
    padding: 3px 6px; /* 3px en haut/bas, 6px à gauche/droite */
    background-color: #282144;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    padding-top:30px;
}
    
.title_service:hover {
background-color: #7168c1;
}

#services {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    img {
        width: 28em;
        height:18em;
        object-fit: cover;
    }
}

.img_container {
    position: relative;
    width: 28em;
    height: 18em;
}

.service_image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
}

.content_service {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service_paragraph {
    width: 400px;
}

#list_services {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#div_mockup {
    // width:40%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.box_cta {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.cta {
    @include button.cta(10em);
    margin: 5%;
}

.cta:hover{ // affiche le bouton en noir et blanc quand survolé
    background:color.$color_button_hover;
    color:color.$color_secondary;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea,
  input[type="file"] {
    width: calc(100% - 10px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="file"] {
    padding-top: 6px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

.container {
    padding: 0% 3% 0% 3%; 
  }