@charset "UTF-8";
p, .cta {
  font-family: "assets/fonts/Inter.ttf";
  font-size: 1rem;
  font-weight: normal;
  color: black;
}

.description {
  font-family: "assets/fonts/Inter.ttf";
  font-size: 0.75rem;
  font-weight: normal;
  color: white;
}

h4 {
  font-family: "assets/fonts/Inter.ttf";
  font-size: 1.25rem;
  font-weight: normal;
  color: #282144;
}

h3 {
  font-family: "assets/fonts/Inter.ttf";
  font-size: 1.5rem;
  font-weight: normal;
  color: #282144;
}

h2 {
  font-family: "assets/fonts/Inter.ttf";
  font-size: 2rem;
  font-weight: normal;
  color: #5c51c4;
}

h1 {
  font-family: "assets/fonts/Inter.ttf";
  font-size: 2.5rem;
  font-weight: 400;
  color: #282144;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: black;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: black;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: black;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 98vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: rgba(117, 109, 128, 0.95);
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #282144;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: white;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.2s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.3s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.4s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.5s;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    font-size: 1.5rem;
  }
}
body {
  margin: 0%;
}

header {
  padding: 2% 3% 2% 3%;
  background-color: #7168c1;
}

.bar {
  margin: 40px 0px 40px 0px;
  height: 5px;
  width: 70%;
  background-color: #7168c1;
}

.bienvenue-entreprise {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bienvenue-entreprise-text {
  width: 450px;
}

.bienvenue-entreprise-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.bienvenue-entreprise-img img {
  width: 21rem;
  height: 21rem;
  border-radius: 10.5rem;
  margin-top: 30px;
}

#presentation {
  padding: 0% 3% 0% 3%;
}
#presentation p, #presentation .cta {
  margin-bottom: -20px;
}

#notre_equipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 75px;
}

.equipier {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 4px #7168c1 solid;
  margin-bottom: 75px;
  border-radius: 15px;
}
.equipier p, .equipier .cta {
  font-size: 0.85em;
}
.equipier h4 {
  margin-top: -20px;
}
.equipier img {
  width: 10em;
  height: 10em;
  border-radius: 5em;
  align-self: center;
  margin-top: -20%;
}

.equipier_content {
  padding: 5%;
}

.description_service {
  padding: 20px 0px 20px 0px;
}

.title_service {
  display: inline-block;
  padding: 3px 6px; /* 3px en haut/bas, 6px à gauche/droite */
  background-color: #282144;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
}

.title_service:hover {
  background-color: #7168c1;
}

#services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#services img {
  width: 28em;
  height: 18em;
  -o-object-fit: cover;
     object-fit: cover;
}

.content_service {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img_container {
  position: relative;
  width: 28em;
  height: 18em;
}

.service_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.service_paragraph {
  width: 400px;
  padding-right: 40px;
}

#list_services {
  margin: 30px 0px 30px 0px;
}

.box_cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cta {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 2% 5% 2% 5%;
  background: #282144;
  margin: 5%;
}

.cta:hover {
  background: #282144;
  color: #7168c1;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type=text],
input[type=tel],
input[type=email],
textarea,
input[type=file] {
  width: calc(100% - 10px);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type=file] {
  padding-top: 6px;
}

button[type=submit] {
  background-color: #282144;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type=submit]:hover {
  background-color: #7168c1;
}

.container {
  padding: 0% 3% 0% 3%;
}/*# sourceMappingURL=style.css.map */