@use 'font';
@use 'color';
@use 'button';
@use 'menu';

@mixin images($size, $circle: false) {
    width: $size;
    height: $size;
    @if $circle {
    border-radius: $size / 2;
    }
    @else {
    border-radius: 0px;
    }
}

body {
    margin:0%;
}

header {
    padding: 2% 3% 2% 3%;
    background-color: color.$color_header;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 3% 0px 3%;
    background-color: color.$color_button;

    p {
        color:color.$color_main
    }

    a {
        text-decoration: none;
        color:color.$color_main
    }

    a:hover {
        color:color.$color_header;
    }

    address {
        color:color.$color_main
    }
}

.footer_section {
    width: 280px;
    border-right: color.$color_main 2px solid;
    margin-bottom: 50px;
}


a {text-decoration: none;}

a:hover {
    color:color.$color_secondary;
}

address {
    font-style: normal;
}

#image-accueil {
    margin-top: -20px;
    height:12em;
    width:auto;
}

.bar {
    margin : 40px 0px 40px 0px;
    height: 5px;
    width: 70%;
    background-color: color.$color_secondary;
  }

#logo {
    height:3em;
    width:auto;
}

.bienvenue-entreprise {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.bienvenue-entreprise-text {
    width: 450px;
}

.bienvenue-entreprise-img {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    img {
        @include images(21rem, true);
        margin-top:30px;
    } 
}

.bulle_text {
    position: relative;
    margin-top: -80px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: color.$color_secondary;

    p {
        text-align: center;
        padding: 10px;
        color : color.$color_main;
    }
}

#presentation {
    padding:  5% 3% 0% 3%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    p {
        margin-bottom: -40px;
        font-size: 1.25rem;
    }
}

.add_space {
    margin-top: 50px;
}

#notre_equipe {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 75px;
}

.equipier {
    display:flex;
    flex-direction: column;
    width: 250px;
    border: 4px color.$color_secondary solid;
    margin-bottom: 75px;
    border-radius: 15px;

    p {
        font-size: 0.85em;
    }

    h4 {
        margin-top: -20px;
        font-size: 1.1em;
        color: color.$color_secondary;
    }

    img {
        @include images(10em, true);
        align-self: center;
        margin-top: -20%;
        object-fit: cover;
    }
}

.equipier_content {
    padding:5%;
}

.description_service {
    padding : 20px 0px 20px 0px;
}

.title_service {
    display: inline-block;
    padding: 3px 6px; /* 3px en haut/bas, 6px à gauche/droite */
    background-color: color.$color_button;
    color: color.$color_main;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-family: font.$font_name_paragraph;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
    padding:10px;
}
    
.title_service:hover {
background-color: color.$color_secondary;
}

#services {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    img {
        width: 28em;
        height:18em;
        object-fit: cover;
    }
}

.content_service {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img_container {
    position: relative;
    width: 28em;
    height: 18em;
}

.service_image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
}

.service_paragraph {
    width: 400px;
    padding-right: 40px;
}

#list_services {
    margin: 30px 0px 30px 0px; 
}

#temoignages {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 75px;
}

.avis {
    display:flex;
    flex-direction: column;
    width: 300px;
    padding: 2%;
    background-color: rgba(188, 181, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 75px;
    border-radius: 15px;

    p {
        font-size: 0.85em;
    }
}

.user-images {
    @include images(6em, true);
    align-self: center;
    margin-top: -20%;
    object-fit: cover;
}

.section-etoiles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}

.star {
    width: 25px;
    height: auto;
    padding: 2px;
}

form {
    max-width: 600px;
    background-color: color.$color_main;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea,
  input[type="file"] {
    width: calc(100% - 10px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="file"] {
    padding-top: 6px;
  }
  
  button[type="submit"] {
    background-color: color.$color_button;
    color: color.$color_main;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: color.$color_secondary;
  }

  .form-required {
    color: rgb(195, 0, 0);
  }

  #contact-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  #contact-form {
    width: 800px;
    margin-right: 30px;
  }

  #contact-infos {
    max-width: 600px;
    background-color: color.$color_main;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #horaires {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    p {
        margin-bottom: -10px;
    }
  }

  .horaires-jours {
    margin-top: -15px;
  }

  .horaires-heures {
    margin-top: -15px;
    margin-left: 20px; 
}

#social_medias {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-medias-icons {
height: 50px;
width: auto;
}

.social-medias-icons:hover {
transform: scale(1.2);
}

.footer_horaires {
display: flex;
flex-direction: row;

p {
    margin-bottom: -10px;
}
}

#nav_footer {
    ul {
        list-style-type: none;
        padding-inline-start: 0%;
    }
    li {
        padding-bottom:25px;
    }
}

.container {
    padding: 20px 5% 10px 5%; 
  }